/* Desktop view */
.App {
  background-color: black;
  min-height: 100vh;
  color: azure;
  max-width: 100vw;
  top: 0%;
  padding-left: 20px;
}
.main_nav {
  display: flex;
  width: 95%;
  font-family: "Monument", sans-serif;
  font-size: calc(10px + 2vmin);
  background-color: black;
  color: azure;
  justify-content: right;
  align-items: flex-end;
  position: relative;
}
.logo_nav {
  display: flex;
  align-items: center;
  width: 540px;
}
.nav_link {
  color: azure;
}

.nav-options {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.mobile-option {
  display: flex;
}
.mobile-menu {
  display: none;
}
.option {
  flex-direction: row;
  display: flex;
  margin-left: 12px;
}
.option :hover {
  color: gold;
}
.main_top {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  padding-left: 12px;
}
.home_top {
  display: flex;
  flex-direction: column;
  font-family: "Monument", sans-serif;
}
.color {
  color: gold;
}
.home_greeting {
  font-size: 80px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.homemid_img {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}
.homemidright_content {
  display: flex;
}
.homemid_main {
  display: flex;
  background-image: url(./showcreativity.svg);
  width: 400px;
  height: 401px;
  justify-content: center;
  align-items: center;
}
.section_intro {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.title_active {
  transition-delay: 0.2s;
  display: block;
  line-height: 1.34;
  letter-spacing: 0.5rem;
  font: inherit;
  transform: translateY(0%);
  font-size: 24px;
  transition: transform 1s ease;
  text-transform: uppercase;
}
.svg_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.availability_active {
  left: 20%;
  top: 100%;
  opacity: 1;
  transition: 0.4s ease;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  -webkit-text-stroke-color: gold;
  width: 20%;
}
.month {
  font-size: 5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: gold;
  -webkit-text-fill-color: transparent;
}
span[class="s-"] {
  transition-delay: 0.2s;
  transform: translateY(0%);
  transition: transform 1s ease;
  display: block;
}
.info {
  transition-delay: 0.2s;
  transform: translateY(0%);
  transition: transform 1s ease;
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gold;
  justify-content: center;
  align-items: center;
}
.info1 {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.smallabout {
  width: 50%;
}
.btn_expose {
  background-color: gold;
  padding: 10px;
  border-radius: 12px;
  border: 1px gold solid;
  color: azure;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: azure;
  text-shadow: 1px;
}
.About {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.abouttop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.aboutme {
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.description {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.skills {
  display: flex;
  width: auto;
  height: 100%;
  flex-direction: column;
}
li {
  list-style: none;
}
.allbout {
  display: flex;
  flex-direction: row;
}
.trophies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allchats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.ChatMessage {
  color: azure;
  padding: 20px;
}
.active {
  background-color: gold;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.img {
  height: 80%;
  width: 495px;
}
.ChatMessage {
  display: flex;
  flex-direction: row;
}
.homebottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_holder {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  width: 80vw;
  align-items: center;
}
.catalogue_main {
  display: flex;
  width: 360px;
  border-radius: 21px;
  height: 420px;
  border: 1px gold solid;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}
.item_name {
  opacity: 1;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: gold;
}
.catalogue_img {
  width: 360px;
  height: 240px;
  border-radius: 21px;
  resize: both;
}
.catalogue_card {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}
.catalogue_org {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  flex-wrap: wrap;
}
/* .chatpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
} */
.chatpageContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.chats {
  color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding: 10px;
  height: 78vh;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  background-color: gold;
  color: azure;
  border-radius: 12px;
  width: 30vw;
  opacity: 0.8;
  margin-bottom: 10px;
  padding-left: 30px;
}
.SubmitContact {
  background-color: transparent;
  color: gold;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 50vw;
  border-radius: 5px;
}
.texts {
  padding-left: 30px;
}
.postChat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-right: 20px;
}
.emailinput {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 50vw;
  padding: 10px;
  background-color: transparent;
  color: azure;
  border-radius: 5px;
}
.postChatForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.allChats {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
}
.ChatMessage {
  width: 100%;
  color: black;
  font-size: 1rem;
}
.message {
  /* background-image: url("/chtbg/chat-blue.svg"); */
  background-color: gold;
  width: 70%;
  border-radius: 10px;
  padding-left: 10px;
}
.textarea {
  position: absolute;
  width: 80%;
}
.btnsend {
  position: relative;
}

.footer_main {
  background-color: black;
  width: 100%;
  color: gold;
  font-family: "Monument", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(4px + 2vmin);
}
.footer_link {
  color: azure;
}
.footer_content {
  padding-right: 20px;
  color: azure;
  font-size: calc(4px + 2vmin);
}
.loading_main {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Monument", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* medium devices and tablets */

@media (max-width: 960px) {
  .App {
    width: 100vw;
  }
  .main_nav {
    display: flex;
    background-color: black;
    color: azure;
    justify-content: center;
    position: absolute;
    padding-right: 20px;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
  }
  .logo_nav {
    display: flex;
    flex-direction: column;
  }
  .nav-options {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    left: -100%;
    opacity: 0;
    top: 10px;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-start;
  }
  .nav-options.active {
    background: black;
    opacity: 1;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 10px;
    flex-direction: column;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }
  .nav_link {
    color: azure;
  }
  .nav_link::after {
    color: gold;
    text-decoration: line-through;
  }
  .menu-icon {
    width: 30px;
    height: 30px;
    color: azure;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    color: azure;
  }
  .mobile-menu {
    display: inline;
    padding-right: 30px;
  }
  .main_top {
    text-align: left;
    display: flex;
    width: 80vw;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
  }
  .worktop {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home_top {
    display: flex;
    flex-direction: column;
    font-family: "Monument", sans-serif;
    align-items: center;
    justify-content: center;
  }
  .color {
    color: gold;
  }
  .home_greeting {
    font-size: 80px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
    position: relative;
    display: inline-block;
  }
  .homemidright_content {
    display: flex;
  }
  .homemid_main {
    display: flex;
    background-image: url(./showcreativity.svg);
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    width: 100%;
  }
  .section_intro {
    display: flex;
    width: 100%;
    padding-bottom: 40px;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 20px;
  }
  .title_active {
    transition-delay: 0.2s;
    display: block;
    line-height: 1.34;
    letter-spacing: 0.5rem;
    font: inherit;
    transform: translateY(0%);
    transition: transform 1s ease;
    text-transform: uppercase;
  }
  .svg_contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 35px;
    top: 335px;
  }
  .svg_content {
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    flex-direction: column;
  }
  .availability_active {
    opacity: 1;
    transition: 0.4s ease;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    float: inline-end;
    position: absolute;
    -webkit-text-stroke-color: gold;
  }
  .month {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: gold;
    -webkit-text-fill-color: transparent;
  }
  span[class="s-"] {
    transition-delay: 0.2s;
    transform: translateY(0%);
    transition: transform 1s ease;
    display: block;
  }
  .info {
    transition-delay: 0.2s;
    transform: translateY(0%);
    transition: transform 1s ease;
    display: block;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
    justify-content: center;
    align-items: center;
  }
  .info1 {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
  .smallabout {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .content {
    display: flex;
  }
  .btn_expose {
    background-color: gold;
    padding: 3px;
    border-radius: 12px;
    border: 1px gold solid;
    margin-left: 20px;
    color: azure;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: azure;
  }
  .homebottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    align-items: stretch;
  }
  .catalogue_card {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px;
  }
  .catalogue_img {
    width: 250px;
    height: 200px;
  }
  .catalogue_main {
    display: flex;
    width: 320px;
    border-radius: 21px;
    border: 1px gold solid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
  .catalogue_org {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutme {
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .description {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .skills {
    display: flex;
    height: 100%;
    width: fit-content;
    flex-direction: column;
  }
  .img {
    width: 495px;
  }
  li {
    list-style: none;
  }
  .allbout {
    display: flex;
    flex-direction: row;
  }
  .trophies {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
  }
  .chatpage {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .chats {
    height: fit-content;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding: 10px;
  }
  .allChats {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }
  .ChatMessage {
    width: 100%;
    color: black;
    font-size: 1rem;
  }
  .message {
    /* background-image: url("/chtbg/chat-blue.svg"); */
    background-color: gold;
    width: 70%;
    border-radius: 10px;
    padding-left: 10px;
  }
  .textarea {
    position: fixed;
    width: 80%;
    bottom: 6%;
    left: 3%;
  }
  .sendIcon {
    position: fixed;
    bottom: 6%;
    left: 85%;
  }
  .btnsend {
    position: relative;
  }

  .footer_main {
    background-color: black;
    display: flex;
    width: 100%;
    color: gold;
    font-family: "Monument", sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .footer_link {
    color: azure;
  }
  .footer_content {
    color: azure;
  }
  .footer_rights {
    color: azure;
  }
}

/* Small devices(656px) */
@media (max-width: 656px) {
  .main_nav {
    display: flex;
    background-color: black;
    color: azure;
    justify-content: center;
    padding: 0px 15px;
    align-items: flex-end;
    position: relative;
    flex-direction: column;
    list-style: none;
  }
  .logo_nav {
    display: flex;
    flex-direction: column;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    justify-content: flex-start;
    flex-direction: column;
    list-style-type: none;
  }
  .nav-options.active {
    background: black;
    left: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }
  .nav_link {
    color: azure;
  }
  .menu-icon {
    width: 30px;
    height: 30px;
    color: azure;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    color: azure;
  }
  .mobile-menu {
    display: block;
  }
  .main_top {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
  }
  .work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home_top {
    display: flex;
    flex-direction: column;
    font-family: "Monument", sans-serif;
  }
  .color {
    color: gold;
  }
  .img {
    width: 495px;
  }
  .home_greeting {
    font-size: 80px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
    position: relative;
    display: inline-block;
  }
  .homemidright_content {
    display: flex;
  }
  .homemid_main {
    display: flex;
    background-image: url(./showcreativity.svg);
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
  }
  .section_intro {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .title_active {
    transition-delay: 0.2s;
    display: block;
    line-height: 1.34;
    letter-spacing: 0.5rem;
    font: inherit;
    transform: translateY(0%);
    transition: transform 1s ease;
    text-transform: uppercase;
  }
  .svg_contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .svg_content {
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    flex-direction: column;
  }
  .availability_active {
    opacity: 1;
    transition: 0.4s ease;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    float: inline-end;
    position: absolute;
    -webkit-text-stroke-color: gold;
  }
  .month {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: gold;
    -webkit-text-fill-color: transparent;
  }
  span[class="s-"] {
    transition-delay: 0.2s;
    transform: translateY(0%);
    transition: transform 1s ease;
    display: block;
  }
  .info {
    transition-delay: 0.2s;
    transform: translateY(0%);
    transition: transform 1s ease;
    display: block;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
    justify-content: center;
    align-items: center;
  }
  .info1 {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
  .smallabout {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .content {
    display: flex;
  }
  .btn_expose {
    background-color: gold;
    padding: 5px;
    border-radius: 12px;
    border: 1px gold solid;
    margin-top: 10px;
    color: azure;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: azure;
  }
  .homebottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .displayed_chats {
    display: flex;
    flex-direction: column;
    color: azure;
  }
  .card_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .catalogue_card {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .catalogue_img {
    width: 180px;
    height: 150px;
  }
  .catalogue_main {
    display: flex;
    width: 250px;
    border-radius: 21px;
    border: 1px gold solid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
  .catalogue_org {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chatpage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
  }
  .chats {
    height: fit-content;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding: 0%;
    width: 100vw;
  }
  .ChatMessage {
    width: 100%;
    color: black;
    font-size: 1rem;
  }
  .message {
    background-color: gold;
    width: 70%;
    border-radius: 10px;
    padding-left: 10px;
  }
  .textarea {
    position: absolute;
    width: 80%;
    bottom: 10%;
  }
  .sendIcon {
    position: absolute;
    bottom: 10%;
    left: 85%;
  }
  .btnsend {
    position: relative;
  }

  .footer_main {
    background-color: black;
    display: flex;
    width: 100%;
    color: gold;
    font-family: "Monument", sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .footer_link {
    color: azure;
  }
  .footer_content {
    color: azure;
  }
  .footer_rights {
    color: azure;
  }
}
